PLAIN

<div class="d-flex align-items-center">
  <ng-container *ngIf="sortable">
    <lib-pagination-base-thead-cell-sorting *ngIf="sortable"
      [title]="title"
      [key]="key"
      [direction]="direction"
      (clickChangeDirection)="onChangeDirection($event)"
    ></lib-pagination-base-thead-cell-sorting>
  </ng-container>
  <span>{{title | translate}}</span>
</div>
