<!-- ('pagination-lib.title_direction' | translate) + 'getDirectionTitle() | translate'
  + (title | translate | lowercase)
  + ' '
  + (getDirectionTitle() | translate | lowercase)" -->

<div
  [title]="'pagination-lib.title' | translate:{
    title: title | translate,
    direction: 'pagination-lib.direction-' + getDirectionTitle() | translate
  }"
  [class]="getStyleClass()"
  (click)="onClick($event)"
>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
       width="100%"

       height="100%" viewBox="0 0 13 12" enable-background="new 0 0 13 12" xml:space="preserve">

<g id="Ellipse_6_copy_6_1_" enable-background="new    ">
	<g id="Ellipse_6_copy_6">
		<g>
			<path class="arrow-up" fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC" d="M6.008,0.011
				L1.002,5.004h10.012L6.008,0.011z"/>
		</g>
	</g>
</g>
    <g id="Ellipse_6_copy_6_1_" enable-background="new    ">
	<g id="Ellipse_6_copy_6">
		<g>
			<path class="arrow-down" fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC"
            d="M6.008,11.988l5.005-4.979H1.002L6.008,11.988z "/>
		</g>
	</g>
</g>

</svg>

</div>
