div {
  width: 12px;
  height: 12px;
  margin: -8px 3px 2px 0;
  //background: url("/assets/images/ic_filter_sort_select_grey.svg") no-repeat center;
  cursor: pointer;

}

.arrow-up {
  fill: var(--colorFontLight);
}

.arrow-down {
  fill: var(--colorFontLight);
}

.asc {
  .arrow-up {
    fill: var(--colorFontTheadAccent);
  }

  .arrow-down {
    fill: var(--colorFontLight);
  }
}

.desc {

  .arrow-up {
    fill: var(--colorFontLight);
  }

  .arrow-down {
    fill: var(--colorFontTheadAccent);
  }

}
